<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left uk-margin-medium-left">
    <ul class="uk-navbar-nav">
      <li
        class="uk-text-center uk-text-bolder uk-text-capitalize uk-text-center"
      >
        <a routerLink="">
          <span class="uk-text-primary"> DUVEAU</span> Pierre</a
        >
      </li>
    </ul>
  </div>

  <div class="uk-navbar-right uk-margin-auto-right uk-margin-medium-right">
    <ul class="uk-navbar-nav">
      <li class="">
        <a class="uk-text-capitalize uk-text-large" routerLink="/about"
          >À propos</a
        >
      </li>
      <li>
        <a routerLink="/projects" class="uk-text-capitalize uk-text-large"
          >Projets</a
        >
      </li>
      <li>
        <a class="uk-text-capitalize uk-text-large">Stages</a>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header uk-text-capitalize">1ère année</li>
            <li><a routerLink="/stage/Thea">Théa Pharma</a></li>
            <li><a></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a class="uk-text-capitalize uk-text-large">Veilles technologiques</a>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="/veille#domotique">La domotique</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="/veille#reverse">Le Reverse engineering</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
