<div
  class="uk-card uk-card-default uk-margin uk-width-3-4 uk-align-center uk-border-rounded uk-margin-large-top"
>
  <div
    class="uk-card-header uk-card-title uk-text-primary uk-text-center uk-text-bolder uk-text-uppercase"
  >
    1 - Ma vision de la veille technologique
  </div>
  <div class="uk-card-body">
    <h4 class="uk-text-bolder">A - Contexte</h4>
    <p class="uk-text-justify">
      Dans le cadre de l’épreuve oral E6 du BTS Service Informatique aux
      Organisations (SIO), je suis amené à mettre en place une veille
      technologique sur un sujet en lien avec le numérique. Une veille
      technologique consiste à établir une succession de moyens techniques ou
      non ayant pour objectif le recueille d’informations sur un sujet établi au
      préalable. Elle a pour but de se tenir à jour des dernières actualités
      ainsi que des dernières mises-à-jours relatives au contenu ciblé. Elle
      devient aujourd’hui indispensable dans le domaine de numérique en raison
      du fort développement de ce secteur qui nous force à lutter contre
      l’obsolescence des connaissances.
    </p>
    <h4 class="uk-text-bolder">B - Comportements de veille</h4>
    <ul class="uk-list uk-list-bullet uk-text-justify">
      <li>
        <span class="uk-text-primary uk-text-bold">La veille passive</span>
        repose essentiellement sur une démarche d’initiative. Elle est plutôt
        visible sur le long terme et repose sur la volonté de s’informer et de
        développer sa culture générale sur la technologie souhaitée.
      </li>
      <li>
        <span class="uk-text-primary uk-text-bold">La veille active</span>
        contrairement à la veille passive, elle ne consiste pas seulement à
        suivre de près ou de loin la technologie. Elle consiste à cibler
        précisément certains points clés définis au préalable afin de collecter
        des informations pertinentes et conformes aux objectifs annoncés. Le
        tout a pour but d’avoir un résultat efficace rapidement.
      </li>
    </ul>
    <h4 class="uk-text-bolder">C - Méthodes de veille</h4>
    <ul class="uk-list uk-list-bullet uk-text-justify">
      <li>
        La méthode <span class="uk-text-primary uk-text-bold">push</span>, qui
        consiste à rechercher l'information que ce soit sur google, dans des
        journaux ou revues de presses
      </li>
      <li>
        La méthode <span class="uk-text-primary uk-text-bold">pull</span>, qui
        consiste à faire venir l'information à soi, via des applications
        d'aggrégateurs de flux RSS (Feedly) ou encore Google Actualités
      </li>
    </ul>
  </div>
</div>

<div
  class="uk-card uk-card-default uk-margin uk-width-3-4 uk-align-center uk-border-rounded uk-margin-large-top"
>
  <div
    class="uk-card-header uk-card-title uk-text-primary uk-text-center uk-text-bolder uk-text-uppercase"
    id="domotique"
  >
    2 - Veille technologique sur la domotique
  </div>
  <div class="uk-card-body">
    <h4 class="uk-text-bolder">A - Rappel du sujet (la domotique)</h4>
    <p class="uk-text-justify">
      Depuis la fin du XXeme et le début du XXIeme siècle, les humains sont
      entrés dans une nouvelle ère, celle du numérique, les humains sont de plus
      en plus souvent entourés d’objets connectés (montres, lampes, chaussures,
      etc) et les humains tendent de plus en plus à connecter tous les objets
      qui les entourent et qui forgent leur quotidien. Le plus intriguant
      devient alors la domotique, c’est-à-dire les maisons connectées. En effet,
      si une personne possède une enceinte connectée ou un autre appareil lui
      permettant d’interagir directement avec internet c’est bon un début, mais
      il faut savoir que certaines personnes ont déjà créés des maisons ou des
      appartements à 100% connectées.
    </p>
  </div>
  <div class="uk-card-footer uk-align-center">
    <ul class="uk-list uk-text-center">
      <li>
        <a class="uk-text-success uk-link-heading" href="./assets/veille/Veille technologique - Pierre DUVEAU 2020.pdf" download
          ><span uk-icon="icon: download"></span> Télécharger sujet de veille</a
        >
      </li>
      <li>
        <a class="uk-text-success uk-link-heading" href="./assets/veille/Veille technologique PowerPoint - Pierre DUVEAU 2020.pdf" download
          ><span uk-icon="icon: download"></span> Télécharger le powerpoint</a
        >
      </li>
    </ul>
  </div>
</div>

<div
  class="uk-card uk-card-default uk-margin uk-width-3-4 uk-align-center uk-border-rounded uk-margin-large-top"
>
  <div
    class="uk-card-header uk-card-title uk-text-primary uk-text-center uk-text-bolder uk-text-uppercase"
    id="reverse"
  >
    3 - Veille technologique & sécurité sur le reverse engineering
  </div>
  <div class="uk-card-body">
    <h4 class="uk-text-bolder">A - Rappel du sujet (le reverse engineering)</h4>
    <p class="uk-text-justify">
      Le reverse engineering (rétro-ingénierie) aussi appelé ‘reverse’ (inverse)
      dans le jargon informatique c’est le fait de comprendre le fonctionnement
      d’une application ou d’un système et d’être capable d’en recréer un à
      l’identique.
    </p>
  </div>
  <div class="uk-card-footer uk-align-center">
    <ul class="uk-list uk-text-center">
      <li>
        <a class="uk-text-success uk-link-heading" href="./assets/veille/Veille technologique sécurité informatique - Pierre DUVEAU 2020.pdf" download
          ><span uk-icon="icon: download"></span> Télécharger sujet de veille</a
        >
      </li>
      <li>
        <a class="uk-text-success uk-link-heading" href="./assets/veille/Veille technologique sécurité informatique PowerPoint - Pierre DUVEAU 2020.pdf" download
          ><span uk-icon="icon: download"></span> Télécharger le powerpoint</a
        >
      </li>
    </ul>
  </div>
</div>
