<div
  class="uk-card uk-card-default uk-card-body uk-border-rounded uk-container uk-child-width-1-2 uk-grid uk-margin-large-bottom uk-margin-auto uk-box-shadow-bottom-small uk-width-viewport uk-height-viewport uk-background-cover"
  data-src="./assets/stage/font-théa.jpg"
  uk-parallax="bgy: -200"
  uk-img
  uk-grid
>
  <div class="uk-margin-auto-vertical" uk-parallax="y: 150,0">
    <h1 class="uk-text-center uk-text-bold">Laboratoires Théa</h1>
    <p class="uk-text-center uk-text-primary">Stage de première année - 2019</p>
  </div>
  <div
    class="uk-position-bottom-right uk-margin-small-right"
    uk-parallax="blur : 0,50"
  >
    <img
      src="./assets/stage/Logo Théa.png"
      class="uk-margin-small-right uk-margin-small-bottom"
    />
  </div>
</div>

<!-- planning -->
<h3
  class="uk-text-center uk-heading-divider uk-text-bold uk-text-uppercase"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"
>
  Planning prévisionnel
</h3>
<div
  class="uk-card uk-card-default uk-card-body uk-container mx-auto container uk-margin-auto uk-margin-large-top uk-margin-large-bottom"
>
  <nz-steps>
    <nz-step
      nzTitle="Etape 1"
      nzStatus="finish"
      nzIcon="read"
      nzTooltipTitle="Début du stage"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
    <nz-step
      nzTitle="Etape 2"
      nzStatus="finish"
      nzIcon="schedule"
      nzTooltipTitle="Réalisation d'une solution GLPI"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
    <nz-step
      nzTitle="Etape 3"
      nzStatus="finish"
      nzIcon="tool"
      nzTooltipTitle="Peaufiner le projet"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
    <nz-step
      nzTitle="Etape 4"
      nzStatus="finish"
      nzIcon="audio"
      nzTooltipTitle="Présentation du projet à l'équipe IT"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
    <nz-step
      nzTitle="Etape 6"
      nzStatus="finish"
      nzIcon="reconciliation"
      nzTooltipTitle="Rendu de final"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
    <nz-step
      nzTitle="Etape 7"
      nzStatus="finish"
      nzIcon="check-circle"
      nzTooltipTitle="Fin du stage"
      nzTooltipPlacement="bottom"
      nz-tooltip
    ></nz-step>
  </nz-steps>
</div>

<!-- Première mission -->
<h3
  class="uk-text-center uk-heading-divider uk-text-bold uk-text-uppercase"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"
>
  Première Mission / <span class="uk-text-primary">GLPI</span>
</h3>
<div
  class="uk-card uk-card-default uk-box-shadow-hover-large uk-container uk-margin-large-top uk-margin-large-bottom"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"
>
  <div class="uk-card-header">
    <h3 class="uk-text-primary">Contexte</h3>
  </div>
  <div class="uk-card-body">
    <p class="uk-text-justify">
      Théa est une entreprise qui fut créer en 1994 par Henri CHIBRET membre de
      la famille CHIBRET qui concentre son activité dans le milieu ophtalmique.
      Le siège situé à Clermont-Ferrand compte maintenant plus de 350 personnes
      sur site, et presque autant d’ordinateurs qu’il y a de personnes il n’est
      donc pas rare que plusieurs personnes aient des problèmes informatiques au
      même moment. Afin de palier à ce problème l’équipe informatique a mis en
      place un outil nommé GLPI qui sert principalement d’outil de ticketing. Le
      but de cet outil est de créer un ticket décrivant le problème pour que le
      support puisse essayer de le résoudre dans les plus bref délais.
      Malheureusement cet outil est peu ou non utilisé par certains
      utilisateurs, le but de mon stage est comprendre :
      <span class="uk-text-primary uk-text-bold"
        >Pourquoi certains employés n’utilisent pas cet outil ? Et de proposer
        des solutions afin de faire en sorte qu’il soit à l’avenir plus
        utilisé.</span
      >
    </p>
  </div>
  <div class="uk-card-footer uk-text-center">
    <a class="uk-text-success uk-link-heading" href="./assets/stage/Rapport de Stage Pierre DUVEAU 2018-2019 SIO1.pdf" download
      ><span uk-icon="icon: download"></span> Télécharger le rapport de stage -
      2019</a
    >
  </div>
</div>

<div class="uk-margin-large-top uk-container">
  <h3 class="uk-text-primary uk-text-center uk-heading-line">
    <span>Langages nécessaire à la formation</span>
  </h3>
  <table class="uk-table uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th class="uk-width-small uk-text-center">Utilité</th>
        <th class="uk-text-center">Nom</th>
        <th class="uk-text-center">Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="uk-text-center">Tout le projet</td>
        <td class="uk-text-center">
          <i class="fab fa-php fa-2x uk-text-primary"></i>
          <p class="uk-text-meta uk-margin-remove-top">Php</p>
        </td>
        <td class="uk-text-primary uk-text-center">5.6</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- fin Première mission -->

<!-- Deuxième mission -->
<h3
  class="uk-text-center uk-margin-large-top uk-heading-divider uk-text-bold uk-text-uppercase"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.8"
>
  Deuxième Mission / <span class="uk-text-primary">IMHV3</span>
</h3>
<div
  class="uk-card uk-card-default uk-box-shadow-hover-large uk-container uk-margin-large-top"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"
>
  <div class="uk-card-header">
    <h3 class="uk-text-primary">Contexte</h3>
  </div>
  <div class="uk-card-body">
    <p class="uk-text-justify">
      Lors de la migration d'un serveur DNS et suite à une suppression de
      données, un outil de gestion utilisé pour recenser tous les hôpitaux de
      France ainsi que les patients souffrant de cataracte. L'outil tombe en
      panne de 20/06 hors tous les premiers du mois il faut impérativement
      intégrer de nouvelles données à la base, je dois donc trouver le problème
      et le résoudre avant le 1/07. Mon objectif est donc :
      <span class="uk-text-primary uk-text-bold">
        d'identifier les erreurs éventuelles, de les corriger et de construire
        un document afin d'indiquer au support comment faire en cas de nouvelle
        panne.</span
      >
    </p>
  </div>
  <div class="uk-card-footer uk-text-center uk-margin-auto">
    <a class="uk-text-success uk-link-heading" href="./assets/stage/Dossier technique Support.pdf" download
      ><span uk-icon="icon: download"></span> Télécharger la documentation
      destinnée au support</a
    ><br />
    <a class="uk-text-success uk-link-heading" href="./assets/stage/Dossier Technique Utilisateur.pdf" download
      ><span uk-icon="icon: download"></span> Télécharger la documentation
      destinnée aux utilisateurs</a
    >
  </div>
</div>

<div
  class="uk-margin-large-top uk-container"
  uk-parallax="opacity: 0,3; y: 100,0; viewport: 0.35"
>
  <h3 class="uk-text-primary uk-text-center uk-heading-line">
    <span>Langages nécessaire à la formation</span>
  </h3>
  <table class="uk-table uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th class="uk-width-small uk-text-center">Utilité</th>
        <th class="uk-text-center">Nom</th>
        <th class="uk-text-center">Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="uk-text-center">Traitement de données</td>
        <td class="uk-text-center">
          <i class="fab fa-symfony fa-2x uk-text-primary"></i>
          <p class="uk-text-meta uk-margin-remove-top">Symfony</p>
        </td>
        <td class="uk-text-primary uk-text-center">4.3.2</td>
      </tr>
      <tr>
        <td class="uk-text-center">Mise en page</td>
        <td class="uk-text-center">
          <i class="fab fa-bootstrap fa-2x uk-text-primary"></i>
          <p class="uk-text-meta uk-margin-remove-top">Boostrap</p>
        </td>
        <td class="uk-text-primary uk-text-center">4.3.1</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- fin Deuxième mission -->

<!-- Rapport de stage -->
<!-- titre -->
<div
  class="uk-card uk-container uk-margin-auto uk-margin-large-top"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.3"
>
  <h3 class="uk-heading-divider uk-text-center uk-text-primary">
    Rapport Quotidien
  </h3>

  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-border-rounded">
      <div class="uk-card-header uk-text-center">
        <span class="uk-text-bold">Début du stage 03-juin-19</span>
      </div>

      <!-- 1 -->

      <div class="uk-card-body">
        <span class="uk-text-bold">Première semaine 03-juin / 07-juin</span>
        <p>
          <span class="uk-text-primary"> Lundi :</span> Visite des locaux &
          rédaction d'un formulaire pour une future interview<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mardi :</span>
          Planning prévisionnel & interviews de plusieurs membres de l'IT<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mercredi :</span>
          Début d'un PowerPoint pour présenter l'outil<br />
          <span class="uk-text-primary"> Jeudi :</span> Installation et
          paramétrage de base de GLPI<br />
          <span class="uk-text-primary"> Vendredi :</span> Modification apport
          de nouveaux éléments
        </p>
      </div>

      <!-- 2 -->

      <div class="uk-card-body">
        <span class="uk-text-bold">Deuxième semaine 11-juin / 14-juin</span>
        <p>
          <span class="uk-text-primary"> Lundi :</span> Férié<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mardi :</span>
          Modification du code source & ajout des plugins de Théa<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mercredi :</span>
          Retour de mi-stage<br />
          <span class="uk-text-primary"> Jeudi :</span> Finitions sur le projet
          pour faire une présentation<br />
          <span class="uk-text-primary"> Vendredi :</span> Amélioration de
          l'interface & gestion des privilèges
        </p>
      </div>

      <!-- 3 -->
      <div class="uk-card-body">
        <span class="uk-text-bold">Troisième semaine 17-juin / 21-juin</span>
        <p>
          <span class="uk-text-primary"> Lundi :</span> Dernières modifictions &
          création du PowerPoint<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mardi :</span>
          Je reprends tous de 0 <br />
          <span class="uk-text-primary uk-margin-remove-top"> Mercredi :</span>
          Réflexion en CycleV (identification des besoins)<br />
          <span class="uk-text-primary"> Jeudi :</span> On me demande de régler
          un logiciel suite à un crash (IMHV3)<br />
          <span class="uk-text-primary"> Vendredi :</span> Je travaille sur GLPI
          et IMHV3 en même temps
        </p>
      </div>

      <!-- 4 -->

      <div class="uk-card-body">
        <span class="uk-text-bold">Quatrième semaine 24-juin / 28-juin</span>
        <p>
          <span class="uk-text-primary"> Lundi :</span> Recherche du problème
          sur IMHV et début de réalisation d'une documentation technique<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mardi :</span>
          Test de solutions sur IMHV3 & réalisation d'un nouveau PowerPoint pour
          jeudi<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mercredi :</span>
          Solution IMHV3 réparée<br />
          <span class="uk-text-primary"> Jeudi :</span> Rédaction complète d'une
          documentation support & utilisateur<br />
          <span class="uk-text-primary"> Vendredi :</span> Rédaction de mon
          rapport de stage, ajout de solution pour GLPI
        </p>
      </div>

      <!-- 5 -->

      <div class="uk-card-body">
        <span class="uk-text-bold"
          >Cinquième semaine 01-juillet / 05-juillet</span
        >
        <p>
          <span class="uk-text-primary"> Lundi :</span> 2ème mission validée, on
          me donne une 3ème mission<br />
          <span class="uk-text-primary uk-margin-remove-top"> Mardi :</span>
          Je commence la réalisation de la 3ème mission <br />
          <span class="uk-text-primary uk-margin-remove-top"> Mercredi :</span>
          J'exprime l'incapacitée de founir dans les délais, je corrige donc des
          bugs sur IMHV3<br />
          <span class="uk-text-primary"> Jeudi :</span> On me demande de
          modifier le CSS d'un nouvel outil, mais n'ayant pas accès à tous le
          projet je ne fais aucune modification majeur<br />
          <span class="uk-text-primary"> Vendredi :</span> Comptes rendu de
          stage avec la RH & l'IT, remerciements.
        </p>
      </div>

      <!-- Fin du stage -->

      <div class="timeline-content uk-text-center uk-card-footer">
        <span class="uk-text-bold">Fin du stage le 05-juillet-2019</span>
      </div>
    </div>
  </div>
</div>
<!-- fin du rapport -->

<!-- Compétences -->
<div
  class="uk-card uk-container uk-margin-large-top uk-margin-auto"
  uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"
>
  <h3 class="uk-text-primary uk-text-center uk-heading-divider">Compétences</h3>
  <p>
    <i class="far fa-lightbulb"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.1</span> - Proposition
    d'une solution applicative
  </p>
  <p>
    <i class="far fa-lightbulb"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.5</span> - Prototypage de
    composant logiciels
  </p>
  <p>
    <i class="fas fa-cogs"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.6</span> - Gestion
    d'environnements de développement et de test
  </p>
  <p>
    <i class="far fa-keyboard"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.7</span> - Développement
    utilisation ou adaptation de composant logiciels
  </p>
  <p>
    <i class="far fa-file-alt"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.9</span> - Rédaction d'une
    documentation technique
  </p>
  <p>
    <i class="far fa-file-alt"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.1.10</span> - Rédaction
    d'une documentation d'utilisation
  </p>
  <p>
    <i class="fas fa-cogs"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.2.1</span> - Analyse et
    correction d'un dysfonctionnement, d'un problème de qualité de service ou de
    sécurité
  </p>
  <p>
    <i class="far fa-keyboard"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.2.3</span> - Réalisation des
    tests nécessaires à la mise en production d'éléments mises à jours
  </p>
  <p>
    <i class="fas fa-file-signature"></i>
    <span class="uk-text-primary uk-text-bold"> A 4.2.4</span> - Mise à jour
    d'une documentation
  </p>
  <p>
    <i class="fas fa-tools"></i>
    <span class="uk-text-primary uk-text-bold"> A 5.1.1</span> - Mise en place
    d'une gestion de configuration
  </p>
  <p>
    <i class="fas fa-graduation-cap"></i>
    <span class="uk-text-primary uk-text-bold"> A 5.2.3</span> - Repérage des
    compléments de formation ou d'auto-formayion utiles à l'acquisition de
    nouvelles compétences
  </p>
  <p class="uk-margin-medium-bottom">
    <i class="fas fa-graduation-cap"></i>
    <span class="uk-text-primary uk-text-bold"> A 5.2.4</span> - Etude d'une
    technologie, d'un composant, d'un outil ou d'une méthode
  </p>
</div>
