<div
  class="uk-child-width-1-2@l uk-child-width-1-1@s uk-grid uk-container uk-margin-auto"
>
  <!--Projet N°-->
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Odi-Fi</h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2018-11-18
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/Odi-Fi.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          En binôme nous avons du réaliser un site vitrine afin de mettre en
          avant un organisme (réel ou fictif) choisis par nos soins.
          <br />
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a
            class="uk-button uk-button-primary uk-border-rounded uk-text-center"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">M2L</h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2018-12-13
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/M2L.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          En quatuor nous avons du réaliser un site web dynamique, il nous était
          recommandé d'utiliser WordPress, mais nous avons préféré le faire nous
          même (HTML, CSS, JS, JQuery, PHP, SQL)
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a
            class="uk-button uk-button-primary uk-border-rounded"
            disabled
            href="http://flyandfly.fr/ppe"
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">ShopAndShop</h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2019-03-16
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/ShopAndShop.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          En trinôme nous avons du réaliser un site vitre afin de faire la
          promotion, d'une marque. Le sujet et les contraintes étaient imposées
          par un autre trinôme
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a
            class="uk-button uk-button-primary uk-border-rounded"
            href="https://pierreduveau.fr/SAS"
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">StockPro</h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2019-05-23
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/StockPro.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          En trinôme nous devions créer un site dynamique pour une entreprise
          nommée StockPro. Notre site devait inclure un système de panier
          fonctionnel et qui ressemblait à celui de LDLC.
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a
            class="uk-button uk-button-primary uk-border-rounded"
            disabled
            href="http://cr-devtux16.leschartreux.com/~p.duveau/stockpro/"
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">WA</h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2019-05-15
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/WA.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          En binôme nous avons du réaliser un site dynamique, qui devait mettre
          en valeur une structure fictive créé au préalable (entièrement en PHP
          / HTML / CSS).
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a
            class="uk-button uk-button-primary uk-border-rounded"
            href="https://pierreduveau.fr/projet"
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://pierreduveau.fr/ODI-FI"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="uk-panel uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-box-shadow-large">
      <header
        class="uk-card-header uk-grid-small uk-flex-middle uk-grid uk-grid-stack"
        uk-grid=""
      >
        <div
          class="uk-grid-small uk-flex-middle uk-grid uk-first-column"
          uk-grid=""
        >
          <div class="uk-width-auto uk-first-column">
            <!--head du projet avec img + nom du projet + date -->
            <i class="fas fa-feather-alt" aria-hidden="true"></i>
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Fil-Rouge Laravel
            </h3>
            <p class=" uk-margin-remove-top uk-margin-remove-bottom">
              2019-12-11
            </p>
          </div>
        </div>
      </header>
      <div class="uk-card-media uk-flex uk-flex-center">
        <img
          class="uk-height-medium uk-width-large"
          src="./assets/projects/FilRouge.png"
          width=""
          height=""
          alt=""
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Description</h3>
        <p>
          Seul j'ai décidé de refaire une partie d'un projet intitulé Fil-Rouge
          en utilisant le framework Laravel.
          <br />
        </p>
      </div>
      <div class="uk-card-footer">
        <div class=" uk-child-width-1-2">
          <a class="uk-button uk-button-primary uk-border-rounded" disabled
            >Voir le projet</a
          >
          <a
            class="uk-button uk-button-default uk-border-rounded"
            href="https://github.com/PierroD/Fil-Rouge-Laravel"
            target="_blank"
            >Voir le dépot github</a
          >
        </div>
      </div>
    </div>
  </li>
  <!--Fin projet N°-->
</div>
